In [1]:
import seaborn as sns

In [2]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [7]:
df = sns.load_dataset('taxis')
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [8]:
import scipy.stats as stats
import pandas as pd

Task is to determine whether any relation b/w color and payment feature

In [10]:
df[['color', 'payment']]

       color      payment
0     yellow  credit card
1     yellow         cash
2     yellow  credit card
3     yellow  credit card
4     yellow  credit card
...      ...          ...
6428   green  credit card
6429   green  credit card
6430   green         cash
6431   green  credit card
6432   green  credit card

[6433 rows x 2 columns]

In [12]:
frequency_table = pd.crosstab(df['payment'], df['color'])
frequency_table

color        green  yellow
payment
cash           400    1412
credit card    577    4000

In [13]:
obs_values = frequency_table.values
obs_values

array([[ 400, 1412],
       [ 577, 4000]], dtype=int64)

In [14]:
vals = stats.chi2_contingency(frequency_table)
vals

(89.11390118567827,
 3.727226518205906e-21,
 1,
 array([[ 277.08937236, 1534.91062764],
        [ 699.91062764, 3877.08937236]]))

In [15]:
exp_values = vals[3]
exp_values

array([[ 277.08937236, 1534.91062764],
       [ 699.91062764, 3877.08937236]])

In [18]:
rows = frequency_table.shape[0]
columns = frequency_table.shape[1]
print('Rows:', rows)
print('Columns:', columns)

Rows: 2
Columns: 2

In [19]:
dof = (rows-1)*(columns-1)
dof

1

In [20]:
alpha = 0.05

In [21]:
from scipy.stats import chi2

In [23]:
chi_square = sum((obs-exp)**2/exp for obs, exp in zip(obs_values, exp_values))
chi_square

array([76.1046126 , 13.73876691])

In [24]:
chi2_statistics = sum(chi_square)
chi2_statistics

89.84337950623784

In [25]:
critical_value = chi2.ppf(q=1-alpha, df=dof)
critical_value

3.841458820694124

In [26]:
p_value = 1-chi2.cdf(x=chi2_statistics, df=dof)
p_value

0.0

In [28]:
print(f'P Value: {p_value}')
print(f'Significance Level(Alpha): {alpha}')
print(f'Degree of Freedom: {dof}')
print(f'Chi Square Statistic: {chi2_statistics}')
print(f'Critical Value: {critical_value}')

P Value: 0.0
Significance Level(Alpha): 0.05
Degree of Freedom: 1
Chi Square Statistic: 89.84337950623784
Critical Value: 3.841458820694124

In [31]:
if critical_value <= chi2_statistics:
    print('Reject H0, relationship exist b/w color and payment feature')
else:
    print('Accept H0, no relationship exist b/w color and payment feature')

if p_value <= alpha:
    print('Reject H0, relationship exist b/w color and payment feature')
else:
    print('Accept H0, no relation exist b/w color and payment feature')

Reject H0, relationship exist b/w color and payment feature
Reject H0, relationship exist b/w color and payment feature

Conclusion:

We can infer that both feature color & payment are associated/related with each other.

We can also say, this 2 features are dependent since relationship exists.