## Chi-Square Test

This test is applied when you have 2 categorical features/variables from a single population.
It is used to determine whether there is any significant association b/w 2 feature.

https://www.youtube.com/watch?v=w5iKu1IrTJQ&list=PLE6KYAK0e5K0QfvPQ_SoMwjfKv-V1uaPt&index=4

In [27]:
import scipy.stats as stats

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = sns.load_dataset('tips')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

#### Task is to determine whether any association exist b/w smoker and sex feature.

Smoker, Sex -> Catgorical Feature

In [5]:
# Step 1: Pick the 2 categorical features 
# Step 2: Apply crosstab()

In [9]:
df[['smoker', 'sex']]

    smoker     sex
0       No  Female
1       No    Male
2       No    Male
3       No    Male
4       No  Female
..     ...     ...
239     No    Male
240    Yes  Female
241    Yes    Male
242     No    Male
243     No  Female

[244 rows x 2 columns]

**pd.crosstab()**

Compute a simple cross tabulation of two (or more) factors. By default computes a frequency table of the factors unless an array of values and an aggregation function are passed.

In [17]:
df_freq_table = pd.crosstab(df['sex'], df['smoker'])
df_freq_table

smoker  Yes  No
sex
Male     60  97
Female   33  54

Means we got a frequency table of two feature smoker and sex.

sex is the index, smoker is the columns.

60 Male does smoking, 97 Male don't smoke.

33 Female does smoking, 54 Female don't smoke.

In [18]:
# Step 3: Show observed values

In [24]:
observed_values = df_freq_table.values
print("Observed values: \n", observed_values)

Observed values:
 [[60 97]
 [33 54]]

In [26]:
# Step 4: Apply chi-contingency method to our frequency table

In [28]:
vals = stats.chi2_contingency(df_freq_table)
vals

(0.008763290531773594,
 0.925417020494423,
 1,
 array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))

In [29]:
# time: 7:00